<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reggie.mapper.CategoryMapper">

    <!--新增分类-->
    <insert id="insert">
        insert into category(type, name, sort, status, create_time, update_time, create_user, update_user)
        VALUES (#{type}, #{name}, #{sort}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <!--分类信息分页查询-->
    <select id="pageQuery" resultType="com.reggie.entity.Category">
        select * from category
        <where>
            <if test="name != null and name != ''">
                name like "%"#{name}"%"
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        order by sort
    </select>

    <!--删除分类-->
    <delete id="deleteById">
        delete
        from category
        where id = #{id}
    </delete>


    <!--修改分类-->
    <update id="update">
        update category
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>


    <!--根据类型查询分类-->
    <select id="list" resultType="com.reggie.entity.Category">
        select *
        from category
        where status = 1
        <if test="type != null">
            and type = #{type}
        </if>
        order by sort,create_time desc
    </select>
</mapper>
