<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reggie.mapper.CategoryMapper">

    <!--新增分类-->
    <insert id="insert">
        insert into category(type, name, sort, status, create_time, update_time, create_user, update_user)
        VALUES (#{type}, #{name}, #{sort}, #{status}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <!--分类信息分页查询-->
    <select id="pageQuery" resultType="com.reggie.entity.Category">
        select * from category
        <where>
            <if test="name != null and name != ''">
                name like "%"#{name}"%"
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
        </where>
        order by sort
    </select>

    <!--删除分类-->
    <delete id="deleteById">
        delete
        from category
        where id = #{id}
    </delete>
</mapper>
