<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reggie.mapper.DishMapper">

    <!--根据分类id查询对应的菜品数量-->
    <select id="cuntByCategoryId" resultType="java.lang.Long">
        select count(id)
        from dish
        where category_id = #{id};
    </select>

    <!--
        插入数据到菜品表  id回传给口味表
        useGeneratedKeys设置为true：在执行插入记录之后可以获取到数据库自动生成的主键值
        keyProperty：指定Java对象的属性名
    -->
    <insert id="insert" parameterType="Dish" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, status, create_time, update_time,
                          create_user, update_user)
        values (#{name}, #{categoryId}, #{price}, #{image}, #{description}, #{status}, #{createTime}, #{updateTime},
                #{createUser}, #{updateUser})
    </insert>

    <!--菜品信息分页查询-->
    <select id="PageQuery" resultType="com.reggie.vo.DishVO">
        select d.*,c.name as categoryName
        from dish d left join category c on c.id = d.category_id
        <where>
            <if test="name !=null and name !=''">
                d.name like "%"#{name}"%"
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <!--根据id查询所有菜品-->
    <select id="selectById" resultType="com.reggie.entity.Dish">
        select *
        from dish
        where id = #{dishId};
    </select>

    <!--根据id删除菜品-->
    <delete id="deleteById">
        delete
        from dish
        where id = #{dishId}
    </delete>
</mapper>
