<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reggie.mapper.DishFlavorMapper">

    <!--插入菜品口味-->
    <insert id="insert">
        insert into dish_flavor(dish_id, name, value) values
        <foreach collection="flavors" item="flavor" separator=",">
            (#{flavor.dishId},#{flavor.name},#{flavor.value})
        </foreach>
    </insert>

    <!--菜品信息分页查询-->
    <select id="PageQuery" resultType="com.reggie.vo.DishVO">
        select d.*,c.name as categoryName
        from dish d left join category c on c.id = d.category_id
        <where>
            <if test="name !=null and name !=''">
                d.name like "%"#{name}"%"
            </if>
            <if test="categoryId != null">
                and d.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>
</mapper>
