<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reggie.mapper.SetmealDishMapper">

    <!--根据菜品ids找套餐-->
    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        select setmeal_id
        from setmeal_dish
        where dish_id in
        <foreach collection="ids" item="dishId" open="(" separator="," close=")">
            #{dishId}
        </foreach>
    </select>

    <!--保存套餐和菜品的关联关系-->
    <insert id="insertBatch">
        insert into setmeal_dish(setmeal_id, dish_id, name, price, copies)
        VALUES
        <foreach collection="setmealDishes" item="setmealDishe" separator=",">
            (#{setmealDishe.setmealId}, #{setmealDishe.dishId}, #{setmealDishe.name}, #{setmealDishe.price},
            #{setmealDishe.copies})
        </foreach>
    </insert>

    <!--套餐id删除套餐菜品关系表中的数据-->
    <delete id="deleteBySetmealId">
        delete from setmeal_dish
        where setmeal_id in
        <foreach collection="ids" item="setmeal_id" separator="," open="(" close=")">
            #{setmeal_id}
        </foreach>
    </delete>

    <!--根据菜品id更新套餐的餐菜品名称和价格-->
    <update id="updateSetmealDishByID">
        update setmeal_dish
        <set>
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="price != null">
                price=#{price}
            </if>
        </set>
        where dish_id = #{id};
    </update>

</mapper>
